h1 {
  margin: 0.25em;
}

button {
  margin: 8px 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.83em;
}

tr.northbound {
  background-color: #fdd;
}

tr.southbound {
  background-color: lightblue;
}

td {
  border: 1px solid gray;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  text-align: left;
  padding: 0 2px;
}

td.destination span.from {
  font-weight: lighter;
}

td.countdown,
td.time,
td.advertised {
  text-align: right;
}

tr.station td.id,
tr.train td.destination {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 520px) {
  td.id {
    display: none;
  }

  tr.station td.destination {
    color: blue;
    text-decoration: underline;
  }
}

@media (max-width: 580px) {
  td.advertised {
    display: none;
  }
}

@media (max-width: 580px) {
  td.advertised {
    display: none;
  }
}

@media (max-width: 640px) {
  td.deviation {
    display: none;
  }
}

@media (max-width: 660px) {
  td.destination span.from {
    display: none;
  }

  td.delay {
    display: none;
  }
}

@media (max-width: 1000px) {
  td.modified {
    display: none;
  }
}

@media (max-width: 370px) {
  td.delay,
  td.track {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
