.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

polygon {
  stroke-width: 0.02;
}

.mid-row {
  display: flex;
  align-items: center;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stop {
  background-color: red;
  margin: 10px 0;
  padding: 10px 0;
  font-weight: bold;
  color: white;
}

.clicked {
  fill: gray;
}

.loaded {
  fill: hsl(240, 100%, 50%);
}

:root {
  --arrow-width: 32px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: var(--arrow-width) solid transparent;
  border-right: var(--arrow-width) solid transparent;
  border-bottom: var(--arrow-width) solid orange;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: var(--arrow-width) solid transparent;
  border-right: var(--arrow-width) solid transparent;
  border-top: var(--arrow-width) solid orange;
}

.arrow-up.clicked {
  border-bottom: var(--arrow-width) solid gray;
}

.arrow-up.loaded {
  border-bottom: var(--arrow-width) solid hsl(240, 100%, 50%);
}

.arrow-down.clicked {
  border-top: var(--arrow-width) solid gray;
}

.arrow-down.loaded {
  border-top: var(--arrow-width) solid hsl(240, 100%, 50%);
}

g.pos-nw {
  transform: translate(-4px, -6px);
}

g.pos-ne {
  transform: translate(0, -6px);
}

g.pos-sw {
  transform: translate(-4px, 2px);
}

g.pos-se {
  transform: translate(0, 2px);
}

g.pos-c {
  transform: translate(-2px, -2px);
}

text.train {
  font-family: Arial Narrow, Arial, sans-serif;
}

tspan.new {
  font-weight: bold;
}

rect.branch {
  fill: #222;
  stroke: red;
  stroke-width: 0.02;
}

svg.branch {
  width: 50%;
}
