h1 {
  margin: 0.25em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.83em;
}

tr.northbound {
  background-color: #fdd;
}

tr.southbound {
  background-color: lightblue;
}

td {
  border: 1px solid gray;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  text-align: left;
  padding: 0 2px;
}

@media (max-width: 520px) {
  td.id {
    display: none;
  }
}

@media (max-width: 580px) {
  td.advertised {
    display: none;
  }
}

@media (max-width: 580px) {
  td.advertised {
    display: none;
  }
}

@media (max-width: 640px) {
  td.deviation {
    display: none;
  }
}

@media (max-width: 660px) {
  td.destination span.from {
    display: none;
  }
}

@media (max-width: 370px) {
  td.delay, td.track {
    display: none;
  }
}

td.countdown {
  text-align: right;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
